body {
    background: #DCDDDF url('5039b684.jpg');
    color: #000;
    font: 14px Arial;
    margin: 0 auto;
    padding: 0;
    position: relative;
}
.container { margin: 25px auto; position: relative; width: 900px; }
#content {
    background: #f9f9f9;
    border: 1px solid #c4c6ca;
    margin: 0 auto;
    padding: 25px 0 0;
    position: relative;
    text-align: center;
    width: 400px;
    box-shadow: 0 1px 0 #fff inset;
}
#content h1 {
    color: #7E7E7E;
    font: bold 25px Helvetica, Arial, sans-serif;
    margin: 10px 0 30px;
}
#content form input[type="text"],
#content form input[type="password"] {
    border-radius: 3px;
    background: #eae7e7 url('503968gh4.jpg') no-repeat;
    border: 1px solid #c8c8c8;
    padding: 15px 10px 15px 40px;
    width: 80%;
    margin: 0 0 10px;
    transition: all 0.5s ease;
}
#content form input[type="text"]:focus,
#content form input[type="password"]:focus {
    background-color: #fff;
    border: 1px solid #ed1c24;
    outline: none;
}
#content form input[type="submit"] {
    background: rgb(254,231,154);
    border-radius: 30px;
    border: 1px solid #D69E31;
    color: #85592e;
    cursor: pointer;
    font: bold 15px Helvetica, Arial, sans-serif;
    height: 35px;
    width: 120px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}
#content form input[type="submit"]:hover {
    background: rgb(254,193,81);
}
#content form div a {
    color: #004a80;
    font-size: 12px;
    margin: 30px 15px 0 0;
}
.button a {
    color: #7E7E7E;
    font-size: 17px;
    text-decoration: none;
}
